/* Add CSS styling here */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    border:1px solid black;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS Reset */

h1{
    text-align:center;
    font-weight:bold;
    font-size:3rem;
}
nav{
    text-align:center;
    display:flex wrap;
    justify-content:space-evenly;
    margin: 25px;
    
}
div.navbar{
    padding:25px;
}
nav a{
    text-decoration:none;
    border:1px solid black;
    font-size:20px;
    padding:10px;
    color:black;
    transition:.3s;
}
nav a:hover{
    color:white;
    background:black;
}
h2{
    text-align:center;
    font-size:2rem;
    padding:8px;
}
p.text1{
    margin-top:-2px;
    text-align:center;
    padding:20px;
    margin-bottom:5px;
}
div.banner{
    display:inline-block wrap;
    align-content:center;
    justify-content:center;
    margin:-5px;
    padding:0px;
}
div.banner img{
    width:100vw;
}
div.container{
    display:flex;
    flex-direction:row wrap;
    border:5px solid black;
    justify-content:space-around;
}

.project-pic a{
background:url(https://picsum.photos/150/300) no-repeat;
display:flex;
flex-direction: column wrap;
width:150px;
height:300px;
}
.project-pic2 a{
background:url(https://picsum.photos/150/300) no-repeat;
display:flex;
width:150px;
height:300px;
}
.project-pic3 a{
background:url(https://picsum.photos/150/300) no-repeat;
display:flex;
width:150px;
height:300px;
}
.project-pic4 a{
background:url(https://picsum.photos/150/300) no-repeat;
display:flex;
width:150px;
height:300px;
}
div.portfolio-descriptions p{
    text-align:right;
}



footer{
    text-align:center;
    text-decoration:none;
    background:#FFCBA4;
    height:50px;
    padding-top:25px;
    
}
footer a{
    text-decoration:none;
    color:black;
    border:1px solid black;
    padding:10px;
    transition:.3s;
}
footer a:hover{
    color:white;
    background:black;
}